@media screen and (max-width: 779px) {
  .fa-heart {
    margin-right: 55px;
  }

  .meal:active > .confirmation {
    animation: slide 1s;
    animation-fill-mode: forwards;
    border-radius: 0 10% 10% 0;
    width: 20%;
  }
  .confirmation {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 0%;
    height: 100%;
    position: absolute;
    top: 0px;
    right: -173px;
    background: #99e2d0;
    color: white;
    overflow: hidden;
  }

  .meal:active > .confirmation {
    animation: slide 1s;
    animation-fill-mode: forwards;
    border-radius: 0 10% 10% 0;
    width: 21%;
  }

  @keyframes slide {
    0% {
      transform: translateX(0px);
    }
    100% {
      transform: translateX(-119px);
    }
  }

  .meal:active {
    width: 76%;
  }
}

@media screen and (min-width: 780px) {
  .menu_card {
    margin: 0 auto;
    width: 600px;
  }

  .title_menu {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .emptyHeart {
    margin: auto;
  }

  h1 {
    font-size: 50px;
  }

  .searchbar {
    font-size: 24px;
  }

  .pres1 {
    font-size: 33px;
  }
  .pres2 {
    font-size: 25px;
  }
  .button {
    height: 60px;
    font-size: 23px;
    width: auto;
  }

  .sectiontitle {
    text-align: center;
    font-size: 36px;
  }

  .step {
    display: grid;
    align-items: center;
    margin: 4% auto;
    font-size: 20px;
    height: 74px;
    font-weight: normal;
  }

  .steptext {
    font-weight: normal;
  }

  .stepnumber {
    height: auto;
  }

  .localisations {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .menu_content {
    font-size: 19px;
  }

  .footer_logo {
    font-size: 38px;
  }

  .footerglobal {
    display: grid;
    justify-items: center;
    font-size: 16px;
  }

  .confirmation {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 0%;
    height: 100%;
    position: absolute;
    top: 0px;
    right: -85px;
    background: #99e2d0;
    color: white;
    overflow: hidden;
  }

  .meal:hover > .confirmation {
    animation: slide 1s;
    animation-fill-mode: forwards;
    border-radius: 0 10% 10% 0;
    width: 19%;
  }

  .meal:hover {
    width: 76%;
  }
}
