.footerglobal {
  background-color: #353535;
  padding: 20px 0px 20px 20px;
}

.footer_logo {
  font-size: 20px;
  font-family: "shrikhand";
  color: white;
  font-weight: normal;
}

.suggest {
  color: white;
}

.partner {
  color: white;
}

.legalnotice {
  color: white;
}
.contact a {
  color: white;
}

.fa-utensils:before {
  content: "\f2e7";
  padding-right: 10px;
}

.fa-hands-helping:before {
  content: "\f4c4";
  padding-right: 10px;
}
.fa-utensils:before {
    content: "\f2e7";
    padding-right: 10px;
  }
  
  .fa-hands-helping:before {
    content: "\f4c4";
    padding-right: 10px;
  }

  