/* Footer */
.footerglobal {
  background-color: $quaternaire;
  padding: 20px 0px 20px 20px;

  &__footer_logo {
    font-size: 20px;
    font-family: "shrikhand";
    color: white;
    font-weight: normal;
  }

  &__suggest,
  &__partner,
  &__legalnotice,
  &__contact a {
    color: white;
  }

  &__fa-utensils:before {
    content: "";
    padding-right: 10px;
  }

  &__fa-hands-helping:before {
    content: "";
    padding-right: 10px;
  }
}
