header {
    margin: 14px 0 8px 0;
  }
  
  .logo {
    text-align: center;
    font-family: "shrikhand";
    font-size: 18px;
  }
  
  .returnhomepage {
    position: absolute;
    left: 24px;
    top: 30px;
  }