/* Animation */

/*
Page d’accueil 
loading spinner:
1 à 3 secondes quand on arrive sur la page d'accueil, couvrir l'intégralité de l'écran, et utiliser les animations CSS (pas de librairie).
Le design de ce loader n’est pas défini. 
*/

.spin {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 150px;
  height: 150px;
  background-image: linear-gradient(#9356dc, #ff79da);
  border: 3px solid #3c3c3c;
  border-radius: 50%;
  text-align: center;
  line-height: 150px;
  font-family: "Shrikhand";
  font-size: 24px;
  color: #99e2d0;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  animation: spinturn 3s linear;
  animation-fill-mode: forwards;
}

.messagespin {
  animation-fill-mode: forwards;
  font-family: "roboto"; color: #99e2d0;
}

/* containerglobale en blanc ??? */
/* probleme message chargement */ /* faire spinner avec page vide */

@keyframes spinturn {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes spinturn {
  99.999% {
    transform: translate(-50%, -50%) rotate(360deg);
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/* fin spinner */

/* Coeur qui se rempli 

bouton "J’aime" en forme de cœur 
Au clic, il devra se remplir progressivement
Au survol sur desktop au lieu du clic. 
*/

/*
Pages de menu 
les plats devront apparaître progressivement avec un léger 
décalage dans le temps. Ils pourront soit apparaître un par un, soit par groupe “Entrée”, “Plat” et “Dessert”.
*/

/*
Le visiteur peut ajouter les plats qu'il souhaite à sa commande en cliquant dessus. Cela fait apparaître une petite coche à droite du plat. Cette coche devra coulisser de la droite vers la gauche. L’effet peut apparaître au survol sur desktop au lieu du clic.
*/
