/* Animation */

/*Animation spinner*/
.spinner {
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: white;
  left: 0;
  top: 0;
  z-index: 2; /*  z-order détermine l'ordre des différentes couches que formeront les éléments */
  animation: spinner 6s forwards;
}

.animspin {
  border: 10px solid #99e2d0;
  border-top: 10px solid #9356dc;
  border-bottom: 10px solid #ff79da;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  animation: timespin 3s linear forwards; /*'animation s'effectue à vitesse constante. */
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

@keyframes spinner {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    z-index: -10;
  }
}
@keyframes timespin {
  0% {
    transform: rotate(0deg);
    opacity: 1;
  }
  100% {
    transform: rotate(360deg);
    opacity: 0;
  }
}

/* fin spinner */

/* Coeur qui se rempli 

bouton "J’aime" en forme de cœur 
Au clic, il devra se remplir progressivement
Au survol sur desktop au lieu du clic. 
*/

/* essai 3 */

.fa-heart:hover::before {
  color: #9356dc;
  font-weight: bold; /* obligatoire pour degradé */
  cursor: pointer;
  transition: color 1s;
  animation: heartfull 1s;
  background: -moz-linear-gradient(top, #9356dc 0%, #ff79da 100%);
  background: -webkit-linear-gradient(top, #9356dc 0%, #ff79da 100%);
  background: linear-gradient(to bottom, #9356dc 0%, #ff79da 100%);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

@keyframes heartfull {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
  
}

/* background: linear, left top, left bottom, from(#9356DC), to(#FF79DA); /* bas en haut avec degradé  */

/*
Pages de menu 
les plats devront apparaître progressivement avec un léger 
décalage dans le temps. Ils pourront soit apparaître un par un, soit par groupe “Entrée”, “Plat” et “Dessert”.
*/
.content_meal {
  animation-name: fondumenu;
  animation-iteration-count: 1; /* indique le nombre de cycles utilisés pour répéter une animation avant que celle-ci s'arrête. */
  animation-timing-function: linear; /*l'animation s'effectue à vitesse constante. */
  animation-duration: 3s;
}

@keyframes fondumenu {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
/*
Le visiteur peut ajouter les plats qu'il souhaite à sa commande en cliquant dessus. Cela fait apparaître une petite coche à droite du plat. Cette coche devra coulisser de la droite vers la gauche. L’effet peut apparaître au survol sur desktop au lieu du clic.
*/
/* essai 2 */

.confirmation {
  display: flex;
}

.iconecheck {
  opacity: 0;
}

.iconecheck:hover {
  opacity: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #99e2d0;
  margin: -29px 0px -11px 0px;
  transition-duration: 0.5s;
  width: 104px;
  border-radius: 10px;
  color: white;
}

.fa-check:hover {
  transform: rotate(360deg);
}
