@media screen and (min-width: 850px) {
  h1 {
    font-size: 50px;
  }

  .searchbar {
    font-size: 24px;
  }

  .pres1 {
    font-size: 33px;
  }
  .pres2 {
    font-size: 25px;
  }
  .button {
    height: 60px;
    font-size: 23px;
    width: auto;
  }

  .sectiontitle {
    text-align: center;
    font-size: 36px;
  }

  .step {
    display: grid;
    align-items: center;
    margin: 4% auto;
    font-size: 20px;
    height: 74px;
    font-weight: normal;
  }

  .steptext {
    font-weight: normal;
  }

  .stepnumber {
    height: auto;
  }

  .localisations {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .menu_content {
    font-size: 19px;
  }

  .footer_logo {
    font-size: 38px;
  }

  .footerglobal {
    display: grid;
    justify-items: center;
    font-size: 16px;
  }
}

@media screen and (min-width: 400px) {
  .fa-heart {
    margin-right: 55px;
  }
}
