/* Format clearing */

h1,
h2,
h3,
h4,
h5,
h6,
div,
ul,
ol,
i,
img {
  margin: 0;
  padding: 0;
  margin-block-start: 0;
  margin-block-end: 0;
}

body {
  margin: auto;
  width: 100%;
}

/* Font Roboto pour texte */
/* Font Shrikhand pour Logo et Titre */

@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Shrikhand&display=swap");

/* Police */

* {
  font-family: "Roboto", sans-serif;
}

h2 h3 {
  font-family: "Shrikhand", sans-serif;
  font-weight: bold;
}
