/* Police */
@font-face {
  font-family: "Roboto";
  src: url("Fonts/Roboto/Roboto-Regular-webfont.ttf");
}
@font-face {
  font-family: "shrikhand";
  src: url("Fonts/shrikhand/Shrikhand-Regular.ttf");
}
h2,
h3,
p,
a {
  font-family: "Roboto";
  color: black;
}

h1 {
  text-align: center;
  font-family: "Shrikhand", serif;
  font-size: 33px;
}
